<?xml version="1.0" encoding="UTF-8" ?> <!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">  
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">          <!-- Console output -->     
	<appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">         
		<layout class="org.apache.log4j.PatternLayout">             
			<param name="ConversionPattern" value="%-5p %d{MM-dd HH:mm:ss} %m  (%F:%L) \n"/>         
		</layout>     
	</appender>  
	<logger name="com.ibatis" additivity="true">
		<level value="DEBUG" />
	</logger>
	<logger name="java.sql.Connection" additivity="true">
		<level value="DEBUG" />
	</logger>
	<logger name="java.sql.PreparedStatement" additivity="true">
		<level value="DEBUG" />
		<appender-ref ref="CONSOLE" />
	</logger>
	<logger name="java.sql.ResultSet" additivity="true">
		<level value="DEBUG" />
		<appender-ref ref="CONSOLE" />
	</logger>
	<root>         
		<level value ="info" />         
		<appender-ref ref="STDOUT" />     
	</root>      
</log4j:configuration>