<?xml version='1.0' encoding='utf-8'?>
<Context>
	<WatchedResource>WEB-INF/web.xml</WatchedResource>
	<Resource name="jdbc/crmdb" auth="Container" type="javax.sql.DataSource"
		driverClassName="oracle.jdbc.OracleDriver" url="jdbc:oracle:thin:@192.168.20.142:1521:crmtest"
		username="dpcrm" password="dpcrm2014" maxActive="20" maxIdle="10"
		maxWait="-1" />
	<Resource name="jms/crmQueueConnection" auth="Container"
		type="com.ibm.mq.jms.MQConnectionFactory" factory="com.ibm.mq.jms.MQConnectionFactoryFactory"
		description="JMS Queue Connection Factory for sending messages" HOST="192.168.17.141"
		PORT="2428" CHAN="CRM.CLIENT" TRAN="1" CCSID="819" QMGR="QM_APPD" />
	<Resource name="jdbc/crmdb_log" auth="Container" type="javax.sql.DataSource"
		driverClassName="oracle.jdbc.OracleDriver" url="jdbc:oracle:thin:@192.168.20.142:1521:crmtest"
		username="dpcrm" password="dpcrm2014" maxActive="20" maxIdle="10"
		maxWait="-1" />
</Context>