<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{dd/MM/yy hh:mm:ss:sss z}] %5p %c{2}: %m%n" />
		</layout>
	</appender>
	<appender name="FILE" class="org.apache.log4j.RollingFileAppender">
		<param name="file" value="${user.home}/foss-framework.log" />
		<param name="append" value="true" />
		<param name="maxFileSize" value="10MB" />
		<param name="maxBackupIndex" value="100" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%t] %-5p %C{6} (%F:%L) - %m%n" />
		</layout>
	</appender>
	
		
    <!-- Perf4J appenders -->
    <!--
       AsyncCoalescingStatisticsAppender收集StopWatch的日志信息并传送到下游的文件appenders。
    -->
    <appender name="CoalescingStatistics"
              class="org.perf4j.log4j.AsyncCoalescingStatisticsAppender">
        <!--
             TimeSlice配置多少时间间隔去做一次汇总写入文件中
             默认值是 30000 ms
        -->
        <param name="TimeSlice" value="10000"/>
        <appender-ref ref="fileAppender"/>
    </appender>
 
    <!-- 把汇总的perf4j的日志信息写到perfStats.log文件中去 -->
    <appender name="fileAppender" class="org.apache.log4j.FileAppender">
        <param name="File" value="C://perfStats.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%m%n"/>
        </layout>
    </appender>
 
    <!-- Loggers -->
    <!-- 
       配置perf4j logger
       Additivity设置成false主要因为是不想让代码运行时间的日志输出给上游appenders，即不要在控制台输出。
    -->
    <logger name="org.perf4j.TimingLogger" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="CoalescingStatistics"/>
    </logger>
	
	<logger name="java.sql" additivity="false">         
		<level value="debug" />  
		<appender-ref ref="CONSOLE"/>
	</logger>      
	<logger name="org.apache.ibatis" additivity="false">         
		<level value="debug" />    
		<appender-ref ref="CONSOLE"/> 
	</logger>      
	
	<root>
		<level value="INFO" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE" />
	</root>
</log4j:configuration>